
<%= mesaj %>
<p>İsimler</p>
<ul>
<% for(var i=0; i < kisi.length; i++){ %>
    <li><%= kisi[i] %></li>
<% } %>
</ul>

<% for(var i=0; i < 100; i++){ %>
    <br/> Test
<% } %>

<%# yorum satırıdır. %>
<% var metin = 'deneme'; %>
<%= metin %>